html, body {
  margin: 0;
  background-color: #11151c;
  font-family: Arial, sans-serif;
}

.title{
    text-align: center;
    font-size: 0.5em;
    letter-spacing: 0.3rem;
    color: #fff;
    padding-top: 10%;

}

canvas{
    height: 100%;
    width: 100%;
    z-index: 0;
}